@using OrobaSoft.Shared.DTOs
@model InvoiceDto
@{
    Layout = "_Layout";
}

<div>
    <h4>Invoice Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @Model.CustomerName
        </dd>
        <dt class="col-sm-2">
            Invoice Date
        </dt>
        <dd class="col-sm-10">
            @Model.InvoiceDate
        </dd>
    </dl>
</div>

<div>
    <h4>Items</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <a href="@Url.Action("Edit", new { id = Model.Id })">Edit</a> |
    <a href="@Url.Action("Index")">Back to List</a>
</p>
